<div qv-extension style="height: 100%; position: relative; overflow: auto;" class="ng-scope aigdatepicker">
    <button class="aigdatepicker_applyrange-btn" ng-click="onRangeSelect('YTD')"> YTD </button>
    <button class="aigdatepicker_applyrange-btn" ng-click="onRangeSelect('QTD')" > QTD </button>
    <button class="aigdatepicker_applyrange-btn"> Past 12 mo </button>
    <button class="aigdatepicker_applyrange-btn"> All Time </button>

    <div class="aigdatepicker__formwrapper">
        <input class="aigdatepicker_input" id="datepicker-start-date" type="text">
        <span> - </span>
        <input class="aigdatepicker_input" id="datepicker-end-date" type="text">
        <button class="aigdatepicker_apply-btn" ng-click="onApply()"> Apply </button>
    </div>
    
    
</div>